/* MOVE THIS TO THE TOP */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

body {
  margin: 0;
  background-color: #050505;
  color: white;
  font-family: 'Inter', sans-serif;
}

.font-serif { font-family: 'Playfair Display', serif; }

.gold-gradient-text {
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}